.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-theme2{
    background-color: white;
    color: #8a8a8a;
    border: 1px #8a8a8a solid;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
