.scrollable-content {
    max-height: 80vh; /* Altura máxima del contenido */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    padding-right: 1rem; /* Asegura que el contenido no sea cubierto por la barra de desplazamiento */
}
