<div class="container">
    <div class="spinner" *ngIf="loading" ></div>

    <div class="row justify-content-center" *ngIf="!loading">
        <div class="col-lg-12">
            <div class="card border-0 rounded-0">
                <div class="card-body px-5">
                    <div class="col-lg-12">
                        <div>
                            <img src="../../../assets/slogan.png" width="280" height="75px" alt="Slogan de la empresa">
                        </div>                  
                        <div>
                            <div class="mb-3 text-center">
                                <img src="../../../assets/resources/forgotPassword.png" width="80" height="80" alt="Slogan de la empresa">
                            </div>
                            <div class="mb-4 text-center">
                                <h5 class="text-theme">RECUPERAR CONTRASE&Ntilde;A</h5>
                            </div>
                            <form [formGroup]="recoveryForm">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo electr&oacute;nico</label>
                                    <input type="email" class="form-control mt-2" id="exampleInputEmail1" formControlName="email" autocomplete="new-email">
                                </div>
                                <div class="text-center mt-4">
                                    <button type="button" (click)="sendToEmailPassword()" class="btn btn-theme rounded-0">Enviar correo </button>
                                </div>
                                <div class="text-center mt-3 mb-4">
                                    <button type="button" (click)="goToLogin()" class="btn btn-theme2 rounded-0">Iniciar sesi&oacute;n</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


