<div class="container-fluid">
  <div class="row">
    <div class="d-flex">
      <div class="col-2 col-md-3">
        <select class="form-select btn-add rounded-0" [(ngModel)]="selectedOrderType" (change)="onOrderTypeChange($event)" aria-label="Orders">
            <option value="purchaseOrders" selected>Entradas</option>
            <option value="saleOrders">Salidas </option>
        </select>
      </div>
      <div class="col-2 col-md-2">
        <button class="btn btn-add rounded-0" (click)="openDialogRangeDates()">
            <i class="fa-solid fa-file"></i>
            <span *ngIf="isDesktop"> &nbsp; Generar reporte</span>
        </button>
      </div>
      <div class="col-2 col-md-3">
        <button class="btn btn-add rounded-0" (click)="newOrder()">
            <i class="fa-solid fa-circle-plus"></i>
            <span *ngIf="isDesktop"> &nbsp; Registrar {{ isSelectedPurchaseOrder ? 'Entrada' : 'Salida' }}  </span>
        </button>
      </div>
    </div>
  </div>

  <app-income-list *ngIf="isSelectedPurchaseOrder"></app-income-list>
  <app-expenses-list *ngIf="!isSelectedPurchaseOrder"></app-expenses-list>
</div>


<ng-template #dialogRangeDates let-data>
  <div class="card">
    <div class="card-header bg-dark d-flex justify-content-between align-items-center">
      <h6 class="text-light mt-2">SELECCIONAR FECHAS DEL REPORTE</h6>
      <i class="fa-solid fa-xmark text-danger" style="cursor: pointer;" (click)="closedModal()"></i>
    </div>
    <div class="card-body">
      <mat-dialog-content >
        <div class="d-flex flex-column">
          <div class="col-lg-12">
            <mat-form-field class="w-100">
              <input matInput [matDatepicker]="picker1" placeholder="Desde" [(ngModel)]="startDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-12">
            <mat-form-field class="w-100">
              <input matInput [matDatepicker]="picker2" placeholder="Hasta" [(ngModel)]="endDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>
    </div>
    <div class="card-footer text-center">
      <div class="col-lg-12">
        <button class="btn btn-theme rounded-0" (click)="generatePDF()" [disabled]="startDate === '' || endDate === ''"><i class="fa-regular fa-file-pdf"></i> &nbsp;Descargar reporte</button>
      </div>
    </div>
  </div>
</ng-template>
